## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Saldanha,ZA,-33.0117,17.9442,65.88,59,0,6.80,clear sky
1,1,Amapa,BR,1.0000,-52.0000,73.18,98,94,3.65,heavy intensity rain
2,2,Yellowknife,CA,62.4560,-114.3525,15.57,56,93,15.99,overcast clouds
3,3,Pyaozerskiy,RU,65.8333,31.1667,31.23,88,93,10.87,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,79.21,71,1,15.01,clear sky

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Saldanha,ZA,-33.0117,17.9442,65.88,59,0,6.80,clear sky
1,1,Amapa,BR,1.0000,-52.0000,73.18,98,94,3.65,heavy intensity rain
4,4,Rikitea,PF,-23.1203,-134.9692,79.21,71,1,15.01,clear sky
14,14,Labuhan,ID,-6.8844,112.2051,78.62,83,40,5.08,scattered clouds
16,16,Port Elizabeth,ZA,-33.9180,25.5701,65.32,91,0,9.22,clear sky
19,19,Souillac,MU,-20.5167,57.5167,75.58,83,40,8.05,scattered clouds
21,21,Atuona,PF,-9.8000,-139.0333,78.71,79,27,13.67,scattered clouds
27,27,Chuy,UY,-33.6971,-53.4616,67.37,93,54,5.46,broken clouds
28,28,Sambava,MG,-14.2667,50.1667,74.79,87,77,13.44,broken clouds
34,34,Tucurui,BR,-3.7661,-49.6725,75.07,97,98,2.75,overcast clouds

In [32]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                222
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Weather Description    224
dtype: int64

In [37]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Saldanha,ZA,-33.0117,17.9442,65.88,59,0,6.80,clear sky
1,1,Amapa,BR,1.0000,-52.0000,73.18,98,94,3.65,heavy intensity rain
4,4,Rikitea,PF,-23.1203,-134.9692,79.21,71,1,15.01,clear sky
14,14,Labuhan,ID,-6.8844,112.2051,78.62,83,40,5.08,scattered clouds
16,16,Port Elizabeth,ZA,-33.9180,25.5701,65.32,91,0,9.22,clear sky
...,...,...,...,...,...,...,...,...,...,...
663,663,Elat,IL,29.5581,34.9482,66.04,39,0,10.36,clear sky
666,666,Tignere,CM,7.3667,12.6500,71.94,63,83,4.18,light rain
677,677,Qui Nhon,VN,13.7667,109.2333,77.45,77,100,2.73,overcast clouds
678,678,Guhagar,IN,17.4842,73.1929,77.34,63,100,3.65,overcast clouds
679,679,Laranja Da Terra,BR,-19.8989,-41.0567,69.67,96,5,3.36,clear sky

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Saldanha,ZA,65.88,clear sky,-33.0117,17.9442,
1,Amapa,BR,73.18,heavy intensity rain,1.0000,-52.0000,
4,Rikitea,PF,79.21,clear sky,-23.1203,-134.9692,
14,Labuhan,ID,78.62,scattered clouds,-6.8844,112.2051,
16,Port Elizabeth,ZA,65.32,clear sky,-33.9180,25.5701,
19,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,
21,Atuona,PF,78.71,scattered clouds,-9.8000,-139.0333,
27,Chuy,UY,67.37,broken clouds,-33.6971,-53.4616,
28,Sambava,MG,74.79,broken clouds,-14.2667,50.1667,
34,Tucurui,BR,75.07,overcast clouds,-3.7661,-49.6725,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Saldanha,ZA,65.88,clear sky,-33.0117,17.9442,Blue Bay Lodge
4,Rikitea,PF,79.21,clear sky,-23.1203,-134.9692,People ThankYou
14,Labuhan,ID,78.62,scattered clouds,-6.8844,112.2051,DoubleFAG
16,Port Elizabeth,ZA,65.32,clear sky,-33.9180,25.5701,39 On Nile Guest House
19,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [43]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [48]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))